@charset "utf-8";

@import "./consts.css";
@import "./commonButton.css";
@import "./commonPagination.css";
@import "./tinymceOverride.css";

html,
body {
  box-sizing: content-box;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--globalFontFamily);
}

input[type="password"]::-ms-reveal {
  display: none;
}

[id='root'] {
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.app {
  width: 100%;
  height: 100%;
}

@-ms-viewport {
  width: auto !important;
}

button[class~='btn'] {
  min-width: 68px;
}

/* 重写react notifications system 组件的样式 */
[class~='notifications-tr'] {
  top: calc(var(--headerHeight) + var(--headerBarHeight) + 50px) !important;
}

[class='notification-message'] {
  white-space: pre-line;
}

/* 上边沿紧贴 nav bar的Page页面容器使用 去掉默认的padding Top */
[class~='noPaddingTopPage'] {
  margin-top: -calc(var(--contentSectionPaddingTop) - var(--headerHeight) - var(--headerBarHeight));
}

/* 修改modal互相覆盖的问题 */
[class~='modal-backdrop'] {
  z-index: 1050;
}

/**
 * atom css apply to has padding-top page.
 */
[class~='padding-top-15'] {
  padding-top: 15px;
}

[class~='FixedSizeScrollablePage'] {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* 重写react-select的样式 */
[class~='Select-value-icon'] {
  font-weight: 900;
  font-size: 1.25em;
}

/*
 *全局3DBox样式
 */
[class~='3DBox'] {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
}

[class~='clickable'] {
  &:hover {
    cursor: pointer;
  }
}

:-ms-input-placeholder {
  color: #999;
}

[class~='redStar'] {
  color: rgb(248, 125, 114);
  font-weight: lighter;
}
